---
layout: default
---

<section>
  {% comment %}
              }<h3> Tags </h3>
              }{% assign sorted_tags = site.tags | sort %}
              }{% for tag in site.tags %}
              }  <p> {{ tag | first }} </p>
              }  {% for post in site.posts %}
              }    {% assign tag_new = tag | first %}
              }    {% if post.tags contains tag_new %}
              }      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              }    {% endif %}
              }  {% endfor %}
              }  {% assign t = tag | first %}
              }  {% assign posts = tag | last %}
              }  <li class="blog-tag-item" id="{{ t }}-item">
              }    <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
              }  </li>
              }{% endfor %}
              {% endcomment %}
  <ul>
    {% for post in site.posts %}
      {% if post.draft %}
        {% continue %}
      {% endif %}
    <li>
      <div class="post-date">
        <span>{{ post.date | date: "%b %d, %Y" }}</span>
      </div>

      <div class="post-date-last-updated">
          {% if post.last_modified_at %}
            <span> Updated
            {{ post.last_modified_at | date: "%b %d, %Y" }}
          </span>
          {% endif %}
      </div>

      <div class="title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </div>
      <span class="tag">{{ post.tags | array_to_sentence_string }} </span>
    </li>
    {% endfor %}
  </ul>
</section>
